.columns-value > div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.columns-value > div > div {
  text-align: center;
}

.columns-value img {
  width: 64px;
  height: 64px;
  object-fit: contain;
  margin-bottom: 16px;
}

.columns-value h6 {
  font-size: 18px;
  color: var(--dark-color);
  margin-top: 0;
  margin-bottom: 8px;
}

.columns-value p {
  color: var(--text-color-light);
  line-height: 1.6;
  font-size: 15px;
}

.columns-value a {
  color: var(--link-color);
  font-weight: 700;
}

@media (width >= 900px) {
  .columns-value > div {
    flex-direction: row;
    gap: 48px;
  }

  .columns-value > div > div {
    flex: 1;
  }
}
